<!DOCTYPE html>
<html>
  <head>
    <title>Robotach Broadcast Server</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/binary.min.js"></script>
  </head>
  <body>
    <h1>Audio Broadcast Server</h1>
    <p>Click the button to start/stop recording</p>
    <br/>
    <button id="recButton"></button>
    <script type="text/javascript" src="/javascripts/recBtn.js"></script>
  </body>
</html>
