<!DOCTYPE html>
<html>
  <head>
    <title>Robotach Streaming Client</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/binary.min.js"></script>
  </head>
  <body>
      <h1>Audio Streaming Client</h1>
      <p>Streaming Audio as available.</p>
      <br/>
      <script type="text/javascript" src="/javascripts/streamClient.js"></script>
  </body>
</html>
